/Strategy/bin/
/Observer/bin/
/Decorator/bin/
/FactoryP/bin/
/Singleton/bin/
/CommandP/bin/
/AdapterP/bin/
/TemplateMethod/bin/
/Facade/bin/
/IteratorP/bin/
/Composite/bin/
/StateP/bin/
/Proxy/bin/
/PatternsOfPatternsSimulator/bin/